@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$Space: 'Space Grotesk', sans-serif;

//colors
$linear-purple: linear-graident(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$red: hsl(0, 100%, 66%);
$light-violet: hsl(270, 3%, 87%);
$dark-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

//font size 
$font-body-s: 0.75rem;
$font-body-m: 0.75rem;
$font-body-l: 0.875rem;
$font-heading-l: 1.125rem;
$font-heading-xl: 1.75rem;

//letter spacing 
$spacing-body-m: 0.125rem;
$spacing-body-l: 0.125rem;
$spacing-heading-xl: 0.219rem;




